[submodule "Laboratorios/network-protocols-and-databases-AYSR"]
	path = Laboratorios/network-protocols-and-databases-AYSR
	url = https://github.com/JuanGuayazanC/network-protocols-and-databases-AYSR.git
	branch = main
[submodule "Laboratorios/it-infrastructure-AYSR"]
	path = Laboratorios/it-infrastructure-AYSR
	url = https://github.com/JuanGuayazanC/it-infrastructure-AYSR.git
	branch = main
[submodule "Laboratorios/AYSR3"]
	path = Laboratorios/AYSR3
	url = https://github.com/JuanGuayazanC/AYSR3.git
	branch = main
