[submodule "Laboratorios/Capa-de-Aplicacion-y-Capa-Fisica-AYSR"]
	path = Laboratorios/Capa-de-Aplicacion-y-Capa-Fisica-AYSR
	url = https://github.com/JuanGuayazanC/Capa-de-Aplicacion-y-Capa-Fisica-AYSR.git
	branch = main
[submodule "Laboratorios/Protocolos-de-Red-para-Bases-de-Datos-AYSR"]
	path = Laboratorios/Protocolos-de-Red-para-Bases-de-Datos-AYSR
	url = https://github.com/JuanGuayazanC/Protocolos-de-Red-para-Bases-de-Datos-AYSR.git
	branch = main
[submodule "Laboratorios/Plataforma-Base-Windows-Server-y-Android-AYSR"]
	path = Laboratorios/Plataforma-Base-Windows-Server-y-Android-AYSR
	url = https://github.com/JuanGuayazanC/Plataforma-Base-Windows-Server-y-Android-AYSR.git
	branch = main
[submodule "Laboratorios/Servidores-Web-Nginx-y-Apache-AYSR"]
	path = Laboratorios/Servidores-Web-Nginx-y-Apache-AYSR
	url = https://github.com/JuanGuayazanC/Servidores-Web-Nginx-y-Apache-AYSR.git
	branch = main
[submodule "Laboratorios/Capa-de-Enlace-y-Aplicacion-AYSR"]
	path = Laboratorios/Capa-de-Enlace-y-Aplicacion-AYSR
	url = https://github.com/JuanGuayazanC/Capa-de-Enlace-y-Aplicacion-AYSR.git
	branch = main
[submodule "Laboratorios/network-protocols-and-databases-AYSR"]
	path = Laboratorios/network-protocols-and-databases-AYSR
	url = https://github.com/JuanGuayazanC/network-protocols-and-databases-AYSR.git
	branch = main
[submodule "Laboratorios/it-infrastructure-AYSR"]
	path = Laboratorios/it-infrastructure-AYSR
	url = https://github.com/JuanGuayazanC/it-infrastructure-AYSR.git
	branch = main
[submodule "Laboratorios/AYSR3"]
	path = Laboratorios/AYSR3
	url = https://github.com/JuanGuayazanC/AYSR3.git
	branch = main
